<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .button {
                height: 27px;
                width: 150px;
            }
        </style>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>
            {% for bucket in buckets %}
                {{ bucket.title }}
{#                {{ bucket_3.title }}#}

                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" value="fill up bucket {{ bucket.volume }}" name="bucket"></input>
                        <input type="submit" value="pour out bucket {{ bucket.volume }}" name="bucket"></input>
                        {% if bucket == buckets.0 %}
                        <input type="submit" value="pour over from bucket {{ buckets.0.volume }} to bucket {{ buckets.1.volume }}" name="bucket"></input>
                        {% elif bucket == buckets.1 %}
                        <input type="submit" value="pour over from bucket {{ buckets.1.volume }} to bucket {{ buckets.0.volume }}" name="bucket"></input>
                        {% endif %}
                    </form>
                {{ bucket.condition }}/{{ bucket.volume }}<br><br>
            {% endfor %}
{#        {{ buckets[1] }}#}
        </h1>
    </body>
</html>