<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .button {
                height: 27px;
                width: 150px;
            }
        </style>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>
            {% for bucket in buckets %}
                {{ bucket.title }}
{#                {{ bucket_3.title }}#}

                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="submit" value="fill up bucket {{ bucket.volume }}" name="bucket"></input>
                        <input type="submit" value="pour out bucket {{ bucket.volume }}" name="bucket"></input>
                    </form>
{#                    <form action="" method="post">#}
{#                        {% csrf_token %}#}
{#                        <input type="submit" value="{{ bucket_3.volume }}" name="bucket">#}
{#                            {{ bucket_3.title }}#}
{#                        </input>#}
{#                    </form>#}
{#                        <button class="button">#}
{#                            <a>#}
{#                                pour out {{ bucket.title }}#}
{#                            </a>#}
{#                        </button>#}
                {{ bucket.condition }}/{{ bucket.volume }}<br><br>
            {% endfor %}
        </h1>
    </body>
</html>